<script>
	$(document).ready(function() {
    $('#calendar').fullCalendar({
        // put your options and callbacks here
    })
	});
</script>

<h1>Fullcalendar Test</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div id='calendar'></div>
